@import "tailwindcss";

a {
    /* @apply text-large; */
    color: #333333;

    &:hover {
        color: #222222;
    }
}

.stat {
    background-color: hsl(272, 100%, 92%, 0.5);

    @apply text-black py-4 flex flex-col items-center justify-evenly gap-3 text-center;

    h4 {
        @apply text-gray-700;
    }

    p {
        @apply text-gray-500
    }
}